# check your data Here

In [1]:
import pandas as pd

df= pd.read_csv("2023-01-02_to_2023-01-05_banknifty_data.csv") # Enter your file name in inverted commas example already given 2023-01-02_to_2023-01-05_banknifty_data.csv
df.head()

C:\Users\gkm20\AppData\Local\Temp\ipykernel_9364\2463385456.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,close,date,high,low,oi,open,symbol,time,volume
0,2.80,2023-01-02,3.00,2.80,477375.0,2.90,BANKNIFTY05JAN2336500PE,09:15:00,15127
1,2.80,2023-01-02,2.85,2.75,477375.0,2.75,BANKNIFTY05JAN2336500PE,09:16:00,7075
2,2.75,2023-01-02,2.85,2.75,494825.0,2.85,BANKNIFTY05JAN2336500PE,09:17:00,11075
3,2.80,2023-01-02,2.85,2.80,494825.0,2.80,BANKNIFTY05JAN2336500PE,09:18:00,7325
4,2.85,2023-01-02,2.90,2.85,494825.0,2.85,BANKNIFTY05JAN2336500PE,09:19:00,27850

In [ ]:
df.describe()